.status {
  background-color: #92c83e;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  pointer-events: none;
}

.status-text {
  color: #92c83e;
}

.mail {
  color: #1381ff;
}

h2 {
  font-weight: 700;
  font-size: 24px;
}

h3 {
  font-weight: 700;
  font-size: 32px;
}

.edit {
  color: #535af1;
  font-weight: 600;
  &:hover {
    cursor: pointer;
    font-weight: 800;
    transform: scale(1.05);
  }
}

.close {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  transition:
    transform 0.2s,
    color 0.2s;
}

.close::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #eceefe;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  transition:
    width 0.2s ease,
    height 0.2s ease;
  z-index: -1;
}

.close:hover::before {
  width: 32px;
  height: 32px;
}

.close:hover {
  cursor: pointer;
  transform: scale(1.1);
  color: #535af1;
}

.edit-btn {
  background: #e5e7eb;
  border-radius: 9999px;
  padding: 4px;
  border: none;
}

.icon-wrapper {
  position: relative;
  width: 20px;
  height: 20px;
}

.icon {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.icon-active {
  opacity: 0;
}

.edit-btn:active .icon-active {
  opacity: 1;
  transform: scale(1.1);
}

.edit-btn:active .icon-default {
  opacity: 0;
}
