@use 'tailwind';
@use 'fonts';

* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  cursor: pointer;
}

body {
  background-color: #edefff;
}

button {
  cursor: pointer;
}
