.navbar-dialog {
  width: 15rem;
  height: 10rem;
  border-radius: 1.5rem 0 1.5rem 1.5rem;
}

.navbar-dialog.mobile {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 1.5rem 0;
  border-radius: 1rem 1rem 0 0;
}

.account-img {
  width: 25px;
  height: 25px;
}

.hover-button.active {
  background-color: #eceefe;
  font-weight: 700;
  color: #535af1;
}

@media (min-width: 1024px) {
  .hover-button:hover {
    background-color: #eceefe;
    font-weight: 700;
    color: #535af1;
  }
}
